################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/**/bin
/**/obj

*.user

//git rm --cached .\GraphQL_Demo\bin\*